@if (product()) {
  <form #myForm [formGroup]="form" (ngSubmit)="save()">
    <div class="grid">
      <div class="col-12">
        <app-form-field>
          <label for="name">Name</label>
          <input
            [formControl]="form.controls.name"
            pInputText
            id="name"
            type="text"
          />
          @if (form.controls.name.invalid) {
            <em>Name is required</em>
          }
        </app-form-field>
      </div>

      <div class="col-12">
        <app-form-field>
          <label for="price">Price</label>
          <app-input-group>
            <input
              [formControl]="form.controls.price"
              pInputText
              id="price"
              name="price"
              type="number"
            />
            <span class="p-inputgroup-addon">EUR</span>
          </app-input-group>
          @if (form.controls.price.invalid) {
            <em>Price is invalid</em>
          }
        </app-form-field>
      </div>

      <div class="col-12">
        <div class="flex gap-2 justify-content-end">
          <p-button
            (click)="confirmCancel($event)"
            [label]="'shared.cancel' | transloco"
          />
          <p-button
            [disabled]="form.invalid || false"
            type="submit"
            [label]="'shared.save' | transloco"
          />
        </div>
      </div>
    </div>
  </form>
}

<p-confirmDialog></p-confirmDialog>
