<form #form="ngForm" (ngSubmit)="save(productVm())">
  <div class="grid">
    <div class="col-12">
      <app-form-field>
        <label for="name">Name</label>
        <input
          #name="ngModel"
          name="name"
          pInputText
          type="text"
          [(ngModel)]="productVm().name"
          required
          minlength="2"
        />

        @if (name.touched && name.invalid) {
          <em>Please provide a valid name</em>
        }
      </app-form-field>
    </div>

    <div class="col-12">
      <app-form-field>
        <label for="price">Price</label>
        <app-input-group>
          <input
            #price="ngModel"
            name="price"
            pInputText
            type="number"
            [(ngModel)]="productVm().price"
            required
            [min]="0"
          />
          <span class="p-inputgroup-addon">EUR</span>
        </app-input-group>

        @if (price.invalid) {
          <em>Price is invalid</em>
        }
      </app-form-field>
    </div>

    <div class="col-12">
      <div class="flex gap-2 justify-content-end">
        <p-button
          severity="secondary"
          [label]="'shared.cancel' | transloco"
          (click)="confirmCancel($event)"
        />

        <p-button
          type="submit"
          [disabled]="form.invalid"
          [label]="'shared.save' | transloco"
        />
      </div>
    </div>
  </div>
</form>

<p-confirmDialog></p-confirmDialog>
