<form #productForm="ngForm" *ngIf="product" (ngSubmit)="submitted.emit(product)">
  <div class="grid">
    <div class="col-12">
      <app-form-field>
        <label for="name">Name</label>
        <input
          #name="ngModel"
          pInputText
          id="name"
          name="name"
          type="text"
          [(ngModel)]="product.name"
          required
        />
        <em *ngIf="name.invalid">Name is required</em>
      </app-form-field>
    </div>

    <div class="col-12">
      <app-form-field>
        <label for="price">Price</label>
        <app-input-group>
          <input
            #price="ngModel"
            pInputText
            id="price"
            name="price"
            type="number"
            [(ngModel)]="product.price"
            max="2000"
            min="0"
            required
          />
          <span class="p-inputgroup-addon">EUR</span>
        </app-input-group>
        <em *ngIf="price.invalid">Price is required</em>
      </app-form-field>
    </div>

    <div class="col-12">
      <div class="flex gap-2 justify-content-end">
        <p-button (click)="confirmCancel($event)" [label]="'cancel' | transloco" />
        <p-button
          [disabled]="productForm.invalid || false"
          type="submit"
          [label]="'save' | transloco"
        />
      </div>
    </div>
  </div>
</form>

<p-confirmDialog></p-confirmDialog>
