@if (products(); as products) {
  <p-table [value]="products" [rowHover]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-1">Id</th>
        <th>Name</th>
        <th class="w-2">Price</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr class="cursor-pointer" (click)="rowClicked.emit(product.id)">
        <td>{{ product.id }}</td>
        <td>
          <a>{{ product.name }}</a>
        </td>
        <td>{{ product.price }}</td>
      </tr>
    </ng-template>
  </p-table>
}
