<h1>{{ 'products.title' | transloco }}</h1>

<div class="grid">
  <div class="col-12">
    <app-stack>
      <app-product-filter
        [filterText]="filter()"
        (filterApplied)="applyFilter($event)"
      />

      <app-products-table
        [products]="products()"
        (rowClicked)="navigationService.navigateToEditPage($event)"
      />
    </app-stack>
  </div>

  <div class="col-12">
    <p-button
      [label]="'shared.add' | transloco"
      (click)="navigationService.navigateToAddPage()"
    />
  </div>
</div>
